@import "../../saas_styles/mixins.scss";
@import "../../saas_styles/Variables.scss";

.projects-section {
  padding: 1.3rem 1rem;

  h1 {
    font-size: 1.75rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.8rem;
  }
  h2 {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
  }
  @include tablet_breakpoint {
    padding: 0rem 1.8rem;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1rem;
    }
  }
  @include laptop_breakpoint {
    padding: 0rem 6.6rem;
    h1 {
      font-size: 2.2rem;
      line-height: 2.1rem;
    }
    h2 {
      font-size: 1.1rem;
    }
  }
  @include laptop_breakpoint-lg {
    h1 {
      font-size: 2.3rem;
      line-height: 2.2rem;
    }
    h2 {
      font-size: 1.2rem;
    }
  }
}

.projects-box-container {
  padding: 0rem 1.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 1.7rem;

  @include tablet_breakpoint {
    align-items: start;
    flex-flow: row;
    gap: 1rem;
  }
}

.see-all-projects {
  margin-top: 2.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1rem;
  &:hover {
    cursor: pointer;
  }

  @include tablet_breakpoint {
    font-size: 1rem;
  }
  @include laptop_breakpoint {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
  }
  @include laptop_breakpoint-lg {
    font-size: 1.2rem;
  }
}
