@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "../../saas_styles/mixins";
@import "../../saas_styles/Variables";

@include themify($themes) {
  .img-frame {
    background-color: themed("color-2");
  }

  .hero-btns-container {
    button {
      color: themed("button-text-color");
      background-color: themed("color-2");
      border-color: themed("color-2");
    }
    .btn-2 {
      color: themed("color-2");
      background-color: themed("body-color");
      border-color: themed("color-2");
    }
    @include laptop_breakpoint {
      button {
        &:hover {
          color: themed("color-2");
          background-color: themed("body-color");
        }
      }
      .btn-2 {
        &:hover {
          color: themed("button-text-color");
          background-color: themed("color-2");
        }
      }
    }
  }
  .hero-left {
    h2 {
      span {
        color: themed("color-2");
      }
    }
    .typewriter-parent {
      color: themed("color-2");
    }
    h4 {
      background-color: themed("body-color");
    }
  }
}

.hero-container {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;

  @include tablet_breakpoint {
    flex-flow: row;
    justify-content: space-between;
    gap: 0;
    padding: 1.5rem 2rem;
  }

  @include laptop_breakpoint {
    padding: 2rem 4rem;
  }
  @include laptop_breakpoint_md {
    padding: 2rem calc((100% - 1140px) / 2);
  }
}

.hero-left {
  order: 2;

  h1 {
    font-size: 1rem;
    font-weight: 500;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.2rem;
    span {
      font-weight: 900;

      font-family: "Lobster Two", sans-serif;
      font-style: italic;
      font-size: 2.7rem;
      letter-spacing: 2px;
    }
  }
  .typewriter-parent {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.15rem;
    font-family: inherit;
  }

  h4 {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.2rem;
    width: 80%;
    margin-bottom: 0.3rem;
  }

  @include tablet_breakpoint {
    width: 55%;
    h1 {
      margin-top: 2.5rem;
      font-size: 1.2rem;
      margin-bottom: 0.2rem;
    }
    h2 {
      font-size: 2rem;
      line-height: 2.5rem;
      span {
        font-size: 3.2rem;
        letter-spacing: 2px;
      }
    }
    .typewriter-parent {
      font-size: 1.35rem;
      margin-bottom: 0.2rem;
      margin-top: 0.1rem;
    }

    h4 {
      font-size: 1.05rem;
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
      width: 90%;
    }
  }

  @include laptop_breakpoint {
    h1 {
      margin-top: 3.7rem;
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
    h2 {
      font-size: 2.15rem;
      line-height: 3rem;
      span {
        font-size: 4.3rem;
      }
    }
    .typewriter-parent {
      font-size: 1.7rem;
      font-weight: 500;
      margin-top: 0.3rem;
      margin-bottom: 0.35rem;
    }
    h4 {
      font-size: 1.22rem;
      line-height: 1.7rem;
      margin-bottom: 1rem;
    }
  }

  @include laptop_breakpoint-md {
    width: 62%;
  }

  @include laptop_breakpoint-lg {
    h1 {
      margin-top: 3.3rem;

      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    h2 {
      font-size: 2.25rem;
      line-height: 3.3rem;
      span {
        font-size: 5.3rem;
      }
    }
    .typewriter-parent {
      font-size: 1.8rem;
    }
    h4 {
      font-size: 1.32rem;
      line-height: 1.8rem;
      margin-bottom: 1.1rem;
    }
  }
}

.hero-right {
  order: 1;
  position: relative;
  height: 21rem;
  .img-frame {
    height: 20.3rem;
    width: 16.8rem;
    position: absolute;
    right: 2rem;
  }
  .avt-img {
    position: absolute;

    height: 20.3rem;
    width: 16.8rem;
    top: 1.5rem;
    right: 8px;
  }

  @include customBreakPoint(385) {
    height: 22.5rem;
    .img-frame {
      right: 2.5rem;
      width: 18rem;
      height: 21.5rem;
    }
    .avt-img {
      right: 15px;
      width: 18rem;
      height: 21.5rem;
    }
  }
  @include customBreakPoint(430) {
    .img-frame {
      right: 18%;
    }
    .avt-img {
      right: 12%;
    }
  }
  @include tablet_breakpoint {
    order: 2;
    width: 45%;

    .img-frame {
      height: 23rem;
      width: 19rem;
      right: 2rem;
    }
    .avt-img {
      height: 23rem;
      width: 19rem;
      top: 1.8em;
      right: 0rem;
    }
  }
  @include laptop_breakpoint {
    .img-frame {
      height: 25rem;
      width: 21rem;
      right: 3.3rem;
    }
    .avt-img {
      height: 25rem;
      width: 21rem;
      top: 2.2rem;
      right: 1rem;
    }
  }
  @include laptop_breakpoint-lg {
    .img-frame {
      height: 25.2rem;
      width: 21.5rem;
      img {
        height: 26.5rem;
        width: 23rem;
      }
    }
  }
}

.hero-btns-container {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  button {
    padding: 0.45rem 0.7rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: 400;
    border: 0.0001rem solid;
  }

  @include tablet_breakpoint {
    margin-top: 1.6rem;
    button {
      font-size: 0.9rem;
    }
  }
  @include laptop_breakpoint {
    margin-top: 2rem;
  }
  @include laptop_breakpoint-lg {
    margin-top: 2.4rem;
    button {
      font-size: 0.95rem;
    }
  }
}
