@import "../../saas_styles/mixins.scss";
@import "../../saas_styles/Variables.scss";

@include themify($themes) {
  .skill-card {
    border-color: themed("box-border-color");
    background-color: themed("box-color");

    h4 {
      color: themed("box-main-text-color");
    }
  }
}

// main-css

.skills-container {
  padding: 2rem 1rem;
  h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.8rem;
  }
  h2 {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
  }

  @include tablet_breakpoint {
    padding: 6rem 3rem;
    h1 {
      font-size: 2.1rem;
    }
    h2 {
      font-size: 1rem;
    }
  }
  @include laptop_breakpoint {
    padding: 6rem 8rem;
    h1 {
      font-size: 2.3rem;
      line-height: 2rem;
    }
    h2 {
      font-size: 1.1rem;
    }
  }
  @include laptop_breakpoint-lg {
    h1 {
      font-size: 2.4rem;
      line-height: 2.1rem;
    }
    h2 {
      font-size: 1.2rem;
    }
  }
}

.skills-box-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @include tablet_breakpoint {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @include laptop_breakpoint {
    gap: 1.5rem 2.5rem;
  }
}

.skill-card {
  border: 0.1rem;
  border-style: solid;
  padding: 0.8rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;

  img {
    height: 2rem;
    width: 2.6rem;
    border-radius: 2px;
  }
  h4 {
    font-size: 0.7rem;
    font-weight: 500;
  }

  @include tablet_breakpoint {
    gap: 0.2rem;
    img {
      height: 2.5rem;
      width: 3.2rem;
    }
    h4 {
      font-size: 0.8rem;
      line-height: 0.9rem;
    }
  }
  @include laptop_breakpoint {
    gap: 0.3rem;

    h4 {
      font-size: 0.9rem;
    }
  }
  @include laptop_breakpoint-lg {
    border: 0.12rem solid;
    gap: 0.4rem;
    h4 {
      font-size: 1rem;
    }
  }
}
