@import "../../saas_styles/mixins.scss";
@import "../../saas_styles/Variables.scss";

@include themify($themes) {
  .projects-heading {
    color: themed("color-2");
  }
}

.all-projects-pg {
  padding: 1rem;
  @include tablet_breakpoint {
    padding: 1rem 1rem;
  }
  @include laptop_breakpoint {
    padding: 1rem 5rem;
  }
  @include laptop_breakpoint_md {
    padding: 1rem calc((100% - 1120px) / 2);
  }
}
.projects-heading {
  text-align: center;
  font-weight: 800;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  @include tablet_breakpoint {
    font-size: 2rem;
  }
  @include laptop_breakpoint {
    font-size: 2.2rem;
  }
  @include laptop_breakpoint-lg {
    font-size: 2.3rem;
  }
}

.projects-pg-footer-container {
  margin-top: 3rem;

  @include tablet_breakpoint {
    margin-top: 2rem;
  }
  @include laptop_breakpoint {
    margin-top: 2.5rem;
  }
}
.all-projects-container {
  padding: 0rem 0.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 1.7rem;

  @include tablet_breakpoint {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1.15rem;
    padding: 0;
    gap: 0.5rem;
  }
  @include laptop_breakpoint {
    gap: 1rem;
  }
}
