@import "../../saas_styles/mixins";
@import "../../saas_styles/Variables";

@include themify($themes) {
  // ye us particular card ke styles hai
  .card {
    .vertical-timeline-element-content {
      background: themed("box-color");
      border-color: themed("logo-color");
      color: themed("main-text-color");
      // by default card pe ek box shadow hoti hai usi ko hatane ke lie ye code likha hai neeche wala
      box-shadow: 0rem 0rem 0rem 0rem;
    }
  }

  // beech wali line
  .vertical-timeline {
    &::before {
      background: themed("logo-color") !important;
      width: 3.5px;
    }
  }

  // icon styles
  .vertical-timeline-element-icon {
    color: themed("button-bg-color");
    background-color: themed("button-text-color");
    box-shadow: 0 0 0 2.5px themed("button-bg-color");
  }

  // jo arrow hota hai wo
  .vertical-timeline-element-content-arrow {
    border-right: 10px solid themed("logo-color");
  }

  .card-content {
    h4 {
      color: themed("logo-color");
    }
  }
}

// main css
.card {
  .vertical-timeline-element-content {
    border: 0.2rem solid;
    border-radius: 0.3rem;
  }
}

.education-timeline-section {
  margin-top: 0.5rem;
  @include laptop_breakpoint {
    margin-top: 1rem;
  }
}

.education-timeline-section {
  @include tablet_breakpoint {
    width: 80%;
    margin: 0 auto;
  }
  @include laptop_breakpoint {
    width: 100%;
    margin: 0 auto;
  }
}

.card-content {
  h4 {
    font-size: 1.3rem;
    font-weight: 750;
    line-height: 1.6rem;
  }
  h5 {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
  }
  h6 {
    font-size: 1rem;
    font-weight: 400;
  }
  @include tablet_breakpoint {
    h4 {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
    h5 {
      font-size: 1.1rem;
    }
    h6 {
      font-size: 1.1rem;
    }
  }
  @include laptop_breakpoint {
    h4 {
      font-size: 1.5rem;
      line-height: 1.8rem;
    }
    h5 {
      margin-top: 0.7rem;
      font-size: 1.2rem;
    }
    h6 {
      font-size: 1.2rem;
    }
  }
  @include laptop_breakpoint-lg {
    h4 {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }
    h5 {
      font-size: 1.3rem;
    }
    h6 {
      font-size: 1.3rem;
    }
  }
}
