@import "../../saas_styles/mixins.scss";
@import "../../saas_styles/Variables.scss";

@include themify($themes) {
  .project-box {
    border-color: themed("box-border-color");
    background-color: themed("box-color");

    h1 {
      color: themed("color-2");
    }
    .see-more {
      color: themed("color-2");
      border-color: themed("color-2");

      &:hover {
        background-color: themed("color-2");
        color: themed("button-text-color");
        font-weight: 300;
      }
    }
  }
  .technologies-used {
    .tech-box {
      color: themed("button-text-color");
      background-color: themed("button-bg-color");
    }
  }
}

.project-box {
  padding: 1rem;
  border: 0.0001rem solid;
  border-radius: 0.25rem;
  width: 100%;
  img {
    height: 9.4rem;
    aspect-ratio: 1.8/1;
    display: block;
    margin: auto;
  }
  h1 {
    font-size: 1.2rem;
    margin: 0.5rem 0rem 0.3rem 0;
    font-weight: 700;
    text-align: center;
  }
  ul {
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding: 0 0rem 0 1rem;
    margin-bottom: 1.5rem;
    font-weight: 370;

    li {
      margin-bottom: 0.4rem;
    }
  }
  .see-more {
    border: 0.02rem solid;
    background: transparent;
    border-radius: 0.25rem;
    margin-top: 1.5rem;
    padding: 0.45rem;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 400;
  }

  @include tablet_breakpoint {
    padding: 0.7rem 0.5rem;
    padding-bottom: 1rem;
    min-height: 38rem;

    width: 33%;
    h1 {
      font-size: 1.15rem;
    }
    ul {
      font-size: 1rem;
      line-height: 1.3rem;
      height: 28rem;
    }
    .see-more {
      margin-top: 1.7rem;
      font-size: 0.95rem;
    }
  }

  @include customBreakPoint(802) {
    ul {
      height: 27rem;
    }
  }
  @include customBreakPoint(814) {
    ul {
      height: 25.5rem;
    }
  }
  @include customBreakPoint(887) {
    ul {
      height: 24rem;
    }
  }
  @include customBreakPoint(898) {
    ul {
      height: 23rem;
    }
  }
  @include customBreakPoint(952) {
    ul {
      height: 21.5rem;
    }
  }

  @include laptop_breakpoint {
    min-height: 37rem;
    padding: 0.7rem 0.5rem;
    padding-bottom: 0.8rem;
    img {
      height: 10rem;
      margin-bottom: 0.8rem;
    }

    h1 {
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }
    ul {
      padding-left: 1.3rem;
      font-size: 1.1rem;
      line-height: 1.4rem;
      height: 29.5rem;
      li {
        margin-bottom: 0.5rem;
      }
    }
    .see-more {
      margin-top: 2rem;
      font-size: 1.05rem;
    }
  }

  @include customBreakPoint(1035) {
    ul {
      height: 28.5rem;
    }
  }
  @include customBreakPoint(1039) {
    ul {
      height: 27.5rem;
    }
  }

  @include customBreakPoint(1119) {
    ul {
      height: 26rem;
    }
  }
  @include customBreakPoint(1131) {
    ul {
      height: 24.5rem;
    }
  }

  @include customBreakPoint(1191) {
    ul {
      height: 23rem;
    }
  }

  @include customBreakPoint(1280) {
    img {
      height: 11rem;
    }
    ul {
      height: 22rem;
    }
  }

  @include laptop_breakpoint-lg {
    padding: 1rem;

    h1 {
      font-size: 1.3rem;
      margin: 0.6rem 0;
    }
    ul {
      font-size: 1.15rem;
      line-height: 1.45rem;
      height: 24rem;
    }
    .see-more {
      font-size: 1.15rem;
    }
  }
}

.technologies-used {
  width: 85%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0.5rem;

  .tech-box {
    text-align: center;
    padding: 0.4rem 0.5rem;
    border-radius: 3px;
    font-size: 0.65rem;
  }
  @include tablet_breakpoint {
    margin-top: 2rem;
    height: 3.4rem;
    margin-bottom: 0.5rem;
    .tech-box {
      font-size: 0.66rem;
    }
  }
  @include laptop_breakpoint {
    margin-top: 2.5rem;

    .tech-box {
      font-size: 0.76rem;
    }
  }
}
