@import "../../saas_styles/mixins.scss";
@import "../../saas_styles/Variables.scss";

@include themify($themes) {
  .project-box {
    border-color: themed("box-border-color");
    background-color: themed("box-color");

    h1 {
      color: themed("color-2");
    }
    .see-more {
      color: themed("color-2");
      border-color: themed("color-2");

      &:hover {
        background-color: themed("color-2");
        color: themed("button-text-color");
      }
    }
  }
  .technologies-used {
    .tech-box {
      color: themed("button-text-color");
      background-color: themed("button-bg-color");
    }
  }
}

.project-box {
  padding: 1rem;
  border: 0.0001rem solid;
  border-radius: 0.25rem;
  width: 100%;
  img {
    height: 9.4rem;
    aspect-ratio: 1.8/1;
    display: block;
    margin: auto;
  }
  h1 {
    font-size: 1.2rem;
    margin: 0.5rem 0rem 0.3rem 0;
    font-weight: 700;
    text-align: center;
  }
  p {
    font-size: 0.9rem;
    text-align: center;
  }
  .see-more {
    border: 0.02rem solid;
    background: transparent;
    border-radius: 0.25rem;

    margin-top: 1.5rem;
    padding: 0.45rem;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 400;
  }

  @include tablet_breakpoint {
    padding: 0.7rem 0.5rem;
    padding-bottom: 1rem;
    min-height: 38rem;

    width: 33%;
    h1 {
      font-size: 1.15rem;
    }
    p {
      font-size: 1rem;
      height: 19.6rem;
    }
    .see-more {
      margin-top: 1.7rem;
      font-size: 0.95rem;
    }
  }

  @include customBreakPoint(795) {
    min-height: 39.5rem;
    p {
      height: 18rem;
    }
  }
  @include customBreakPoint(810) {
    min-height: 37.5rem;
    p {
      height: 16rem;
    }
  }
  @include customBreakPoint(858) {
    min-height: 37rem;
    p {
      height: 15.5rem;
    }
  }
  @include customBreakPoint(899) {
    min-height: 37rem;
    p {
      height: 13.6rem;
    }
  }
  @include customBreakPoint(953) {
    min-height: 36rem;
    p {
      height: 12.6rem;
    }
  }

  @include laptop_breakpoint {
    min-height: 37rem;
    padding: 0.7rem 0.5rem;
    padding-bottom: 0.8rem;
    img {
      height: 10rem;
      margin-bottom: 0.8rem;
    }

    h1 {
      font-size: 1.2rem;
      margin: 0.5rem 0;
    }
    p {
      font-size: 1.02rem;
      height: 16rem;
    }
    .see-more {
      margin-top: 2rem;
      font-size: 1.05rem;
    }
  }

  @include customBreakPoint(1027) {
    min-height: 32.5rem;
    p {
      height: 14rem;
    }
  }
  @include customBreakPoint(1081) {
    p {
      height: 12.7rem;
    }
  }

  @include customBreakPoint(1223) {
    p {
      height: 11.5rem;
    }
  }

  @include laptop_breakpoint-lg {
    min-height: 30rem;
    padding: 1rem;

    h1 {
      font-size: 1.3rem;
      margin: 0.6rem 0;
    }
    p {
      font-size: 1.1rem;
      height: 13.7rem;
    }
    .see-more {
      font-size: 1.15rem;
    }
  }
}

.technologies-used {
  width: 85%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0.5rem;

  .tech-box {
    text-align: center;
    padding: 0.4rem 0.5rem;
    border-radius: 3px;
    font-size: 0.65rem;
  }
  @include tablet_breakpoint {
    margin-top: 2rem;
    height: 3.4rem;
    margin-bottom: 0.5rem;
    .tech-box {
      font-size: 0.66rem;
    }
  }
  @include laptop_breakpoint {
    margin-top: 2.5rem;

    .tech-box {
      font-size: 0.76rem;
    }
  }
}
