@import "../../saas_styles/mixins.scss";
@import "../../saas_styles/Variables.scss";

@include themify($themes) {
  .project-box {
    border-color: themed("box-border-color");
    background-color: themed("box-color");

    h1 {
      color: themed("box-main-text-color");
    }
    .see-more {
      color: themed("button-bg-color");
      border-color: themed("button-bg-color");
    }
  }
  .technologies-used {
    .tech-box {
      color: themed("button-text-color");
      background-color: themed("button-bg-color");
    }
  }
}

.project-box {
  padding: 1rem;
  border: 0.1rem solid;
  border-radius: 0.25rem;
  width: 100%;
  img {
    height: 9.4rem;
    aspect-ratio: 1.8/1;
    display: block;
    margin: auto;
  }
  h1 {
    font-size: 1.2rem;
    margin: 0.5rem 0rem 0.3rem 0;
    font-weight: 700;
    text-align: center;
  }
  p {
    font-size: 0.9rem;
    text-align: center;
  }
  .see-more {
    border: 0.1rem solid;
    background: transparent;
    border-radius: 2px;

    margin-top: 1.5rem;
    padding: 0.45rem;
    width: 100%;
    font-size: 0.85rem;
    font-weight: 600;
  }

  @include tablet_breakpoint {
    padding: 0.5rem;
    min-height: 38rem;

    width: 33%;
    h1 {
      font-size: 1.15rem;
    }
    p {
      font-size: 1rem;
      height: 19.5rem;
    }
    .see-more {
      font-size: 0.95rem;
    }
  }

  @include customBreakPoint(810) {
    min-height: 36.5rem;
    p {
      height: 13rem;
    }
  }
  @include customBreakPoint(818) {
    min-height: 35.5rem;
    p {
      height: 12rem;
    }
  }
  @include customBreakPoint(920) {
    min-height: 34rem;
    p {
      height: 10.5rem;
    }
  }

  @include laptop_breakpoint {
    min-height: 37rem;
    padding: 1rem 0.6rem;
    h1 {
      font-size: 1.2rem;
      margin: 0.6rem 0;
    }
    p {
      font-size: 1rem;
      height: 15rem;
    }
    .see-more {
      font-size: 1.05rem;
    }
  }

  @include customBreakPoint(1040) {
    min-height: 32rem;
    p {
      height: 13.5rem;
    }
  }
  @include customBreakPoint(1100) {
    p {
      height: 12rem;
    }
  }

  @include customBreakPoint(1200) {
    p {
      height: 11rem;
    }
  }

  @include laptop_breakpoint-lg {
    min-height: 30rem;
    padding: 1rem;
    border: 0.12rem solid;

    h1 {
      font-size: 1.3rem;
      margin: 0.6rem 0;
    }
    p {
      font-size: 1.1rem;
      height: 12rem;
    }
    .see-more {
      font-size: 1.15rem;
    }
  }
}

.technologies-used {
  width: 85%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0.5rem;

  .tech-box {
    text-align: center;
    padding: 0.4rem 0.5rem;
    border-radius: 3px;
    font-size: 0.65rem;
  }
  @include tablet_breakpoint {
    margin-top: 2rem;
    height: 3.4rem;
    margin-bottom: 0.5rem;
    .tech-box {
      font-size: 0.66rem;
    }
  }
  @include laptop_breakpoint {
    margin-top: 2.5rem;

    .tech-box {
      font-size: 0.76rem;
    }
  }
}
