@import "../../saas_styles/mixins.scss";
@import "../../saas_styles/Variables.scss";

@include themify($themes) {
  .line {
    background-color: themed("text-color");
  }
  .footer {
    h1 {
      color: themed("color-2");
    }
    h2 {
      background-color: themed("body-color");
    }
    h3 {
      color: themed("color-2");
    }
  }
  .footer-link {
    color: themed("text-color");
  }
}

.footer {
  padding: 0 1rem;
  padding-bottom: 1.5rem;

  h1 {
    text-align: center;

    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  h2 {
    text-align: center;
    font-size: 0.85rem;
    width: fit-content;
    margin: 0 auto;
  }
  h3 {
    text-align: center;
    font-size: 0.83rem;
    font-weight: 700;
    margin-top: 1rem;
  }
  h5 {
    margin-top: 2rem;
    font-size: 0.7rem;
    text-align: left;
  }
  h6 {
    text-align: left;
    font-size: 0.7rem;
  }

  @include tablet_breakpoint {
    padding: 1rem 2rem;
    h1 {
      font-size: 1.45rem;
      margin-bottom: 0.2rem;
    }
    h2 {
      font-size: 0.95rem;
    }
    h3 {
      font-size: 0.88rem;
    }
    h5 {
      font-size: 0.86rem;
    }
    h6 {
      font-size: 0.86rem;
    }
  }
  @include laptop_breakpoint {
    padding: 1.5rem 4rem;
    h1 {
      font-size: 1.65rem;
      margin-bottom: 0;
    }
    h2 {
      font-size: 1.05rem;
    }
    h3 {
      font-size: 0.95rem;
    }
    h5 {
      margin-top: 2.5rem;
      font-size: 0.88rem;
    }
    h6 {
      font-size: 0.88rem;
    }
  }

  @include laptop_breakpoint_md {
    padding: 1rem calc((100% - 1130px) / 2);
  }

  @include laptop_breakpoint-lg {
    h1 {
      font-size: 1.75rem;
    }
    h2 {
      font-size: 1.15rem;
    }
    h3 {
      font-size: 1rem;
    }
    h5 {
      font-size: 0.92rem;
    }
    h6 {
      font-size: 0.92rem;
    }
  }
}

.line {
  height: 0.01rem;
  width: 100%;
  margin-bottom: 1.5rem;
  @include laptop_breakpoint {
    margin-bottom: 2.3rem;
    height: 0.015rem;
  }
}

.social-icons-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  .footer-link {
    border: 0.1rem solid;
    padding: 0.3rem;
    border-radius: 50%;
    font-size: 1.2rem;
    &:hover {
      cursor: pointer;
    }
  }
  @include laptop_breakpoint {
    gap: 1rem;
    .footer-link {
      font-size: 1.4rem;
    }
  }
  @include laptop_breakpoint-lg {
    .footer-link {
      font-size: 1.5rem;
      border: 0.12rem solid;
    }
  }
}
